<a  href="<%=root_path%>">
  <div class="panel" style="background-color: #8cbeaa;">
    <div class="row" align="center">
      <h3 style="color: #FFF;">
        <img style="margin-bottom: 5px;width:25px" src="<%=asset_path('home.svg')%>">  Home
      </h3>
      <div style="height: 1px;background-color: #EEE;"></div>
      <div class="col-md-6" >
        <div style="color: #FFF;" align="center">
          文章:<%= Article.count%>
        </div>
      </div>
      <div class="col-md-6" >
        <div style="color: #FFF;" align="center">
          标签:<%= Tag.count%>
        </div>
      </div>

    </div>
  </div>
</a>