<div class="panel" style="margin-top: 15px;">
  <div class="panel-body text-info" style="background-color: #FFF;border-radius: 10px;">
    <h5 class="panel-title">
      支持作者
    </h5>
    <img src="<%= asset_path('appreciates_code.jpeg')%>" class='appreciates_code'>
  </div>
</div>