<div class="card">
  <div class="card-body" >
    <!-- 自己加的页脚微信展示开始 -->
    <div class="row">
      <div class="col-md-4" align="center">
        <a id="weixin" href="javascript:void(0)">
          <i class="fab fa-weixin" style="font-size: 30px;color: #33DB55"></i>
          <img src="<%= image_url('wechat_code.jpg') %>" />
        </a>
      </div>
      <div class="col-md-4" align="center">
        <a id="weixin" href="https://weibo.com/5329788710/profile?topnav=1&wvr=6" target="_blank">
          <i class="fab fa-weibo" style="font-size: 30px;color: #d80022"></i>
        </a>
      </div>
      <div class="col-md-4" align="center">
        <a  id="weixin" href="https://github.com/myvary" target="_blank" >
          <i class="fab fa-github" style="font-size: 30px;color: #444;"></i>
        </a>
      </div>
    </div>
    <!-- 自己加的页脚微信展示结束 -->
  </div>
</div>