<div class="header">
  <div class="container">
    <a style="color: #FFF;" href="<%= root_path%>">
      <div class="row" >
        <h1 style="letter-spacing:3px;">liuxin's blog</h1>
      </div>
    </a>
  </div>
</div>