<div class="container">
  <div class="header" style="background-image: url(<%=asset_path('header.jpg')%>)">
    <div class="row">
      <div class="col-xs-12">
        <div class="logotxt"><h1><a style="color: #FFF;" href="<%= root_path%>">liuxin's blog</a></h1></div>
      </div>
    </div>
  </div>
</div>