<div class="card">
  <div class="card-body" >
    <%= form_tag search_article_index_path , :method => :get do %>
    <div class="input-group" role="group" id="search-id">
      <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <% end %>
  </div>
</div>