<div class="panel border-info mb-3">
  <div class="panel-body text-info">
    <h5 class="panel-title">Info</h5>
    <p class="panel-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>