<div class="card">
  <div class="card-header" align="center"><i class="fas fa-tags"></i> 标签</div>
  <div class="card-body">
    
    <% @tags_list.each do |t|%>
    <a class='badge badge-secondary' href="<%=tag_index_path(:tag_name => t.tag_name)%>"><%=t.tag_name%> <span><%=t.count.to_s%></span></a>
  
    
    <%end%>
  </div>
</div>