<div class="panel" style="margin: 15px;">
  <div  align="center">
    <h1 class="post-title"><%= @article.title%></h1>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <span><%=@article.created_at.strftime("%Y年%m月%d日 %H:%M")%></span>
    <span><%tags = @article.tag.split(',')%></span>
    <%if tags.size > 0%>
    <%tags.each do |tag| %>
    <span class="badge badge-info"><%=tag%></span>
    <%end%>
    <%else%>
    <span class="badge">无</span>
    <%end%>
  </div>
  <hr>
  <div class="panel-body">
    <%=markdown @article.content%>
  </div>
</div>