<div class="col-md-9" id='main' >
  <%= render 'shared/article' %>
</div>
<div class="sidebar col-md-3">

  <div id="topic-sidebar">
    <%= render 'shared/contact' %>
    <%= render 'shared/tags' %>
    <%= render 'shared/appreciates_code' %>
  </div>
</div>
<div class="modal fade" id="appreciates" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" >
        <h4 class="modal-title" id="exampleModalCenterTitle" style="text-align: center">👍 支持一下！</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div align="center">
              <div class="pay">
                <img class="pay_img" src="https://ws4.sinaimg.cn/large/006tNc79ly1fywo2regnwj30dv0dvgox.jpg">
              </div>
              <div style="display: block;margin-top: 10px;" >
                <span class="badge badge-success" style="font-size: 0.8rem;font-weight: 400">
                  <i class="fab fa-weixin"> </i>
                  微信
                </span></div>
              </div>
            </div>
            <div class="col-md-6">
              <div align="center">
                <div class="pay">
                  <img class="pay_img" src="https://ws3.sinaimg.cn/large/006tNc79ly1fywo35qwahj30910910ut.jpg">
                </div>
                <div style="display: block;margin-top: 10px;" >
                  <span class="badge badge-primary" style="font-size: 0.8rem;font-weight: 400">
                   <i class="fa fa-alipay"></i>支付宝</span></div>
                 </div>
               </div>
             </div>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">下次再说吧！</button>
          </div>
        </div>
      </div>
    </div>


