<div class="col-md-9" id='main'>
  <%= render 'shared/article' %>
</div>
<div class="col-md-3">
  <div  id ='sidebar'>
    <%= render 'shared/admin_info' %>
    <%= render 'shared/tags' %>
    <%= render 'shared/appreciates_code' %>
  </div>
</div>