/*
 *= require_tree .
 *= require jquery.tagsinput
 *= require zoomify.min.css
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 html,
 body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: #fcfcfa;
  color: #5d5d5d;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
html {
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
}
html::-webkit-scrollbar{width:0px}
.articleImg{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 20px 50px -10px #000;
  margin-bottom: 10px;
  margin-top: 10px;
}

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{ line-height: 1;
}
h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
h2{
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
}
#mainContent,#adminMainContent{
  overflow : hidden;
  min-height: 100%;
  position:relative;
  padding-bottom: 100px;
}

#footer {
  width: 100%;
  background-color: transparent;
  position:absolute;
  bottom:0px;
  left:0px;
  height: 100px;
  text-align: center;
  padding-top: 40px;
}
#footer > p{
  font-size: 1.1em;
  color: #000;
  font-weight: 700;
}
#imgCalendar{
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
#imgRead{
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
#imgHome{
  width: 20px;
  height: 20px;
}
pre{
  padding: 0;
}
.tags{
  margin: 3px;
  padding: 2px;
  border-radius: 6px;
  border: 0.115em solid #ddd;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  display: inline-block;
}

a:link { text-decoration: none;}

.listRrticleTitle{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}
.originalLabel{
  background: #81D573;
  color: #1B8909;
  font-weight: normal;
  border-radius: 4px;
  padding: 2px 4px;
}
.forwardingLabel{
  background: #999;
  color: #eee;
  font-weight: normal;
  border-radius: 4px;
  padding: 2px 4px;
}
.sourceInfo{
  border-radius: 8px;
}
.sourceInput{
  width: 100% !important;
  padding: 6px;
}