/*
 *= require_tree .
 *= require jquery.tagsinput
 *= require zoomify.min.css
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 html,
 body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 410;
  line-height: 1.6;
  color: #333;
  text-align: left;
}
.logo{
  font-weight: 600;
  font-size: 35px;
  color: #FFF;
}
.articleImg{
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  box-shadow: 0 20px 60px -30px #333;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 20px;
  background:#fff
}
.articleImgDiv{
  margin: 0;
  padding: 0;
}
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{ line-height: 1.5;
}
h1{
  font-size: 2rem;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
h2{
  font-size: 1.8rem;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #444;
}
h3{
  line-height: 1.5;
}
p{
  font-size: 1rem;
  line-height: 1.5;
}
#mainContent,#adminMainContent{
  overflow : hidden;
  min-height: 100%;
  position:relative;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}
.header {
  box-shadow: 10px 10px 60px -25px #999;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center 0;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  min-height: 130px;
  color: #FFF;
  position: relative;
  background-image: url('https://ws2.sinaimg.cn/large/006tNbRwly1fyjw0jkzcbj31hc0mbh05.jpg');
}
.logoimg {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: -34px;
}
#footer {
  width: 100%;
  background-color: transparent;
  position:absolute;
  bottom:0px;
  left:0px;
  height: 100px;
  text-align: center;
  padding-top: 40px;
}
#footer > p{
  font-size: 1.2em;
  color: #000;
  font-weight: 700;
}
#imgCalendar{
  width: 15px;
  height: 15px;
  margin-top: -2px;
}
#imgRead{
  width: 15px;
  height: 15px;
  margin-top: -2px;
}
#imgHome{
  width: 20px;
  height: 20px;
}
pre{
  padding: 0;
  border-radius: 6px;
}
.tags{
  margin: 2px;
  border: 0.1rem solid #EEE;
  line-height: 1.2;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  background: #efefef;
  border-radius: 15px;
  vertical-align: baseline;
  padding: 3px 7px;
}
.pagination > li > a{
  color:#44acb6
}
a:link { text-decoration: none;}
a{color:#44acb6;font-weight: 500}
a:hover { color:#2275da; }
.listRrticleTitle{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: normal;
  color: #444;
}
.originalLabel{
  background: #d4edda;
  color: #155724;
  font-weight: normal;
  border-radius: 4px;
  padding: 1px 3px;
  text-align: center;
}
.forwardingLabel{
  background: #CCC;
  color: #fff;
  font-weight: normal;
  border-radius: 4px;
  padding: 2px 4px;
  text-align: center;
}
.sourceInfo{
  border-radius: 8px;
}
.sourceInput{
  width: 100% !important;
  padding: 6px;
}
.statement{
  font-size: 15px;
  margin-top: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-width: 1px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 10px 60px -25px #333;
  line-height: 1.5;
}
.original{
  font-size: 15px;
  margin-top: 10px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-width: 1px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 10px 60px -25px #333;
  line-height: 1.5;
}
.appreciates_code{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  padding: -1;
  border: 0.25em solid #d9a82d;
}
.panel{
  // box-shadow: 0 10px 60px -35px #efefef;
  box-shadow: 0 10px 40px -45px #333;
  border-radius: 10px !important;
}
hr.style-five {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


