/*
 *= require_tree .
 *= require jquery.tagsinput
 *= require zoomify.min.css
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 html,
 body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  color: #444444;
  font-size: 1rem;
  font-family: Monda, "PingFang SC", "Microsoft YaHei", sans-serif
}
.articleImg{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 20px 50px -10px #000;
  margin-bottom: 10px;
  margin-top: 10px;

}
.articleImgDiv{
  margin: 0;
  padding: 0;
}
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{ line-height: 1;
}
h1{
  font-size: 3rem;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
h2{
  font-size: 2rem;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #777;
}
h3{
  line-height: 1.5;
}
p{
  font-size: 1rem;
  line-height: 1.5;
}
#mainContent,#adminMainContent{
  overflow : hidden;
  min-height: 100%;
  position:relative;
  padding-bottom: 100px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.header {
  background: #222;
  background-repeat: no-repeat;
  background-position: center 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 80px 0 0;
  text-align: center;
  min-height: 236px;
  position: relative;
  border-radius: 10px;
}
.logoimg {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: -34px;
}
#footer {
  width: 100%;
  background-color: transparent;
  position:absolute;
  bottom:0px;
  left:0px;
  height: 100px;
  text-align: center;
  padding-top: 40px;
}
#footer > p{
  font-size: 1.1em;
  color: #000;
  font-weight: 700;
}
#imgCalendar{
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
#imgRead{
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
#imgHome{
  width: 20px;
  height: 20px;
}
pre{
  padding: 0;
}
.tags{
  margin: 3px;
  padding: 2px;
  border-radius: 6px;
  border: 0.115em solid #ddd;
  line-height: 1.2em;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  color: #333;
}

a:link { text-decoration: none;}

.listRrticleTitle{
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 6px;
  font-weight: normal;
  color: #0099FF;
}
.originalLabel{
  background: #81D573;
  color: #1B8909;
  font-weight: normal;
  border-radius: 4px;
  padding: 2px 4px;
}
.forwardingLabel{
  background: #999;
  color: #eee;
  font-weight: normal;
  border-radius: 4px;
  padding: 2px 4px;
}
.sourceInfo{
  border-radius: 8px;
}
.sourceInput{
  width: 100% !important;
  padding: 6px;
}
.statement{
  color: #111;
  font-size: 15px;
  margin-top: 20px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}