∏#topic-sidebar {
  margin-left: -15px;
  position: fixed;
  width: 167px;

  @media (min-width: 991.98px) {
    display: block;
    width: 225px;
  }

  @media (min-width: 1199.98px) {
    display: block;
    width: 270px;
  }
}